/*  div{
    height: 350px;
    width: 30;
   
    padding: 15px;
    margin: 10px;
    border: 8px solid black;
} 
.box2,.box1{
    height: 100px;
    width: 100px;

}
.box1{
    margin: 30;
    background-color: blue;

}
.box2{
    padding: 30;
    background-color: chartreuse;
}
.wrapper{
    background-color: rgb(15, 14, 12);
} */

nav a{
    text-decoration: none;
    color: rgb(226, 220, 220);
    /* background-color: black; */
    text-align: center;
    padding: 20px;
    float: left
}
nav {
    background-color: rgb(1, 1, 10);
    overflow: hidden;

}
nav a:hover{
    /* color: rgb(255, 0, 0); */
}
nav a:visited{
    color: rgb(248, 248, 248);
}
8
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 5px;
}

th{
   background-color:  gold;
}
.subject{
    background-color: gold;
   
}
td{
    background-color: hotpink;
}