<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gym Enrollment</title>
      style
           include ./style.css

</head>

<body>
      <nav>

            <li>
                  <ul> <a href="/">Home</a> </ul>
                  <ul><a href="/">About</a></ul>
                  <ul><a href="/">ContactUs</a></ul>
            </li>

      </nav>

      <h2>Get a gym membership at just 80$. Fill the form now</h2>


      <form action="/" method="post" id="contact">


            <input type="text" name="name" id="name" placeholder="Entre your name">
            <input type="text" name="age" id="age" placeholder="Entre your age">
            <input type="text" name="gender" id="gender" placeholder="Entre your gender">
            <input type="email" name="email" id="email" placeholder="Entre your email">

            <textarea name="address" id="address" cols="30" rows="10" placeholder="Entre your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="Tell us  more about yourself"></textarea>
            <button class="btn" type="submit">SUBMIT</button>


      </form>


</body>

</html>