button {
  font-family: sans-serif;
  font-size: xx-large;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid yellow;
  background: yellow;
  color: blue;
  box-shadow: 1px 1px 2px blue;
  border-radius: 10px;
  padding: 4px 10px;
  display: inline-block;
  cursor: pointer;
}
