<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Royal Dance Academy</title>
  <link rel="stylesheet" href="../static/style.css">
  <style class="css"></style>
</head>
<nav class="navbar">
  <ul>
    <div>
      <p>RoyalDanceAcademy</p>
    </div>
    <li><a href="/home">Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Services</a></li>
    <li><a href="/">ClassInfo</a></li>
    <li><a href="/contact">ContactUs</a></li>
  </ul>
</nav>
<footer id="footer">
  <h3>Copyright &copy; 2022 RoyaldanceAcademy.com | All Rights Reserved</h3>
</footer>
<script src="../static/script.js"></script>