<!DOCTYPE html>

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Royal Dance Academy</title>
      <link rel="stylesheet" href="../static/style.css">
      <style class="css"></style>
</head>
<nav class="navbar">
      <ul>
            <div>
                  <p>RoyalDanceAcademy</p>
            </div>
            <li><a href="/home">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">ClassInfo</a></li>
            <li><a href="/contact">ContactUs</a></li>
      </ul>
</nav>
<div class="non">


      <h1>Contact Us</h1>

      <form action="/contact" , method="post" , class="myForm">

            <input type="text" id="myinput" name="name" placeholder="Enter your name" required>

            <input type="email" id="myinput" name="email" placeholder="Enter your email" required>

            <input type="tel" id="myinput" name="tel" placeholder="Enter your phone number" required>

            <textarea name="address" cols="10" rows="5" placeholder="Enter your address" required></textarea>

            <textarea name="more" cols="10" rows="5" placeholder="Tell us more about you"></textarea>

            <button class="btn">Submit</button>
      </form>
</div>

<p class="gap"></p>
<footer id="footer">

      <h3>Copyright &copy; 2022 RoyaldanceAcademy.com | All Rights Reserved</h3>
</footer>
<script src="../static/script.js"></script>