<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Royal Dance Academy</title>
  <link rel="stylesheet" href="../static/style.css">
  <style class="css"></style>
</head>
<nav class="navbar">
  <ul>
    <div>
      <p>RoyalDanceAcademy</p>
    </div>
    <li><a href="/home">Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/">Services</a></li>
    <li><a href="/">ClassInfo</a></li>
    <li><a href="/contact">ContactUs</a></li>
  </ul>
</nav>
<div class="line"></div>
<section id="introSection">
  <div class="intro">Welcome to Royal dance Academy</div>
  <div class="introP">Eat Sleep Dance Repeat</div>
</section>
<div class="line"></div>
<section id="mission">
  <h2>Our Mission</h2>
  <div id="card">
    <div class="card">
      <h3>Dance Perfection</h3>
      <div class="card-box">
        <div class="card-img"><img src="../static/bg2.svg" alt=""></div>
        <div class="card-content">
          <p>This is the best dance academy of the universe. You will learn a lot in here!</p>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>Dance The Way You Like</h3>
      <div class="card-box">
        <div class="card-img"><img src="../static/bg1.svg" alt=""></div>
        <div class="card-content">
          <p>This is the best dance academy of the universe. You will learn a lot in here!</p>
        </div>
      </div>
    </div>
    <div class="card">
      <h3>Expert Teaching</h3>
      <div class="card-box">
        <div class="card-img"><img src="../static/bg3.svg" alt=""></div>
        <div class="card-content">
          <p>This is the best dance academy of the universe. You will learn a lot in here!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="line"></div>
<section id="sponsorSection">
  <h2>Our sponsor</h2>
  <div class="sponsor-img"><img src="../static/spon1.svg" alt=""><img src="../static/spon2.svg" alt=""><img src="../static/spon3.svg" alt=""><img src="../static/spon4.svg" alt=""></div>
</section>
<div class="line"></div>
<footer id="footer">
  <h3>Copyright &copy; 2022 RoyaldanceAcademy.com | All Rights Reserved</h3>
</footer>
<script src="../static/script.js"></script>