doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Royal Dance Academy
  link(rel='stylesheet' href='../static/style.css')
  style.css.  
nav.navbar
  ul
    div
      p RoyalDanceAcademy
    li
      a(href='/home') Home
    li
      a(href='/') About
    li
      a(href='/') Services
    li
      a(href='/') ClassInfo
    li
      a(href='/contact') ContactUs
section#introSection
  .intro Welcome to Royal dance Academy
  .introP Eat Sleep Dance Repeat
.line
section#mission
  h2 Our Mission
  #card
    .card
      h3 Dance Perfection
      .card-box
        .card-img
          img(src='../static/bg2.svg' alt='')
        .card-content
          p
            | This is the best dance academy of the universe. You will learn a lot in here!
    .card
      h3 Dance The Way You Like
      .card-box
        .card-img
          img(src='../static/bg1.svg' alt='')
        .card-content
          p
            | This is the best dance academy of the universe. You will learn a lot in here!
    .card
      h3 Expert Teaching
      .card-box
        .card-img
          img(src='../static/bg3.svg' alt='')
        .card-content
          p
            | This is the best dance academy of the universe. You will learn a lot in here!
.line
section#sponsorSection
  h2 Our sponsor
  .sponsor-img
    img(src='../static/spon1.svg' alt='')
    img(src='../static/spon2.svg' alt='')
    img(src='../static/spon3.svg' alt='')
    img(src='../static/spon4.svg' alt='')
.line
footer#footer
  h3 Copyright &copy; 2022 RoyaldanceAcademy.com | All Rights Reserved
script(src='../static/script.js')
