.main{
    background-color:rgb(201, 185, 185);
}

div.flex-row{
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  div.flex-item{
    width:250px;
    font-family: Montserrat, sans-serif;
    height:100%;
    box-shadow: 0 4px 16px 0 rgb(48, 45, 45), 0 14px 29px 0 rgb(41, 39, 39);
    margin-top: 40px;
    border-radius: 12px;
    background-color: rgb(163, 153, 153);
  }
  
  div.flex-item img {
    width:250px;
    height: 300px;
    border-radius: 7px;
    
  }
  
  div.flex-item h1{
    font-size: 1.6rem;
    padding-left: 15px;
    color: rgb(160, 27, 221);
  }
  
  div.flex-item p{
    font-size: 1rem;
    padding-left:5px;
    color: rgb(68, 13, 13);
  }
  
  div.flex-item button {
    margin-left:30px;
    margin-bottom: 20px;
    padding:12px 55px 12px 55px;
    color: rgb(247, 247, 247);
    background-color : rgb(7, 22, 228);
    border: none;
    border-radius: 9px;
    font-size: 1rem;
  }
  
  div.flex-item button:hover{
    background-color: rgb(33, 165, 189);
    cursor: wait;
  }
  
  
  
  