/* .body{
    margin: auto;
    max-width: 900px;
    width: 90%;
}
#box-1{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(224, 56, 210, 0.678);
    padding: 8px;
    margin: 15px;
    
}
#head{
    border: 10px;
    background-color: darkolivegreen;
    padding: 7px;
    border-radius: 6px;

}
#head-2{
    float: inline-start;
    color: gold;
    background-color:black;
    border-color: chartreuse;
    border-radius: 18px;
}
.para{
    clear: left;

}
.content{
    font-style: bold oblique;
    font-size: 18px;
} */
