/* *{
    font-family: cursive;
    
}
  .animal-3{
    background-color: black;
    padding: 5px;
    color: rgb(156, 155, 155);
    width: 78px;
    /* list-style-position:inside; */  


/* .sport-2{
    background-color: green;
    width: 70px;
}
.lang-2{
    background-color: yellow;
    width: 50px;
} */ 